
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    width: 700px;
    margin: auto;
   
    font-family: Arial, sans-serif; 
  }
  
  /* Header styles */
  header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "left right"; 
    gap: 1.5rem; 
    align-items: center; 
    margin-bottom: 2rem; 
    margin-top: 1rem;
  }
  
  .header-left {
    grid-area: left; 
  }
  
  .header-right {
    grid-area: right; 
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    width: 80px;
  }
  
  .header-item {
    margin: 0;
    padding-top: 0.5rem;
  }
  
  .header-last{
    align-self: normal;
    margin-top: 1rem;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 1.5rem; 
  }
  
  .info-left {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
  }
  
  .info-right-top {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

  }
  
  .box-container {
    border: 1px solid black;
    display: flex;
    height: 8rem;
    width: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
  
  .info-item {
    margin: 0;
    padding-top: 0.5rem;
  }
  
  .middle-item {
    margin: 0.5rem 0; 
  }

  .info-right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  .info-right-middle {
    display: flex;
    justify-content: space-around;
    margin-top: 6em;
    gap: 1rem; 
  }
  
  .info-bottom {
    text-align: right;
    margin-top: 1rem;
  }
  
  .bottom-item {
    margin: 0;
  }
  
  footer {
    text-align: right;
    margin-top: 1rem; 
  }
  





